body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../在线视频_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:19px;
    top:22px;
    width:960px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../在线视频_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:19px;
    top:146px;
    width:960px;
    height:676px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:682px;
}

.u3 {
    position:absolute;
    left:2px;
    top:330px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../在线视频_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:32px;
    top:231px;
    width:173px;
    height:193px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:179px;
    height:199px;
}

.u5 {
    position:absolute;
    left:2px;
    top:16px;
    width:169px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../在线视频_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:32px;
    top:449px;
    width:173px;
    height:193px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:179px;
    height:199px;
}

.u7 {
    position:absolute;
    left:2px;
    top:16px;
    width:169px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../在线视频_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:222px;
    top:231px;
    width:511px;
    height:359px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:517px;
    height:365px;
}

.u9 {
    position:absolute;
    left:2px;
    top:172px;
    width:507px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../在线视频_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:749px;
    top:256px;
    width:211px;
    height:334px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:340px;
}

.u11 {
    position:absolute;
    left:2px;
    top:159px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:861px;
    top:220px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12_text_sketch {
    font-family: 'Applied Font';
}

.u13 {
    position:absolute;
    left:749px;
    top:609px;
    width:178px;
    height:55px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#BCBCBC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13_text_sketch {
    font-family: 'Applied Font';
}

.u14 {
    position:absolute;
    left:926px;
    top:638px;
    width:42px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14_text_sketch {
    font-family: 'Applied Font';
}

.u15 {
    position:absolute;
    left:32px;
    top:648px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../在线视频_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:32px;
    top:685px;
    width:52px;
    height:58px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:58px;
}

.u17 {
    position:absolute;
    left:2px;
    top:21px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../在线视频_files/u16_normal.png');
}

.u18_container {
    position:absolute;
    left:94px;
    top:685px;
    width:52px;
    height:58px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:58px;
}

.u19 {
    position:absolute;
    left:2px;
    top:21px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../在线视频_files/u16_normal.png');
}

.u20_container {
    position:absolute;
    left:156px;
    top:685px;
    width:52px;
    height:58px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:58px;
}

.u21 {
    position:absolute;
    left:2px;
    top:21px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../在线视频_files/u16_normal.png');
}

.u22_container {
    position:absolute;
    left:226px;
    top:685px;
    width:52px;
    height:58px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:58px;
}

.u23 {
    position:absolute;
    left:2px;
    top:21px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:221px;
    top:620px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../在线视频_files/u16_normal.png');
}

.u25_container {
    position:absolute;
    left:280px;
    top:600px;
    width:52px;
    height:58px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:58px;
}

.u26 {
    position:absolute;
    left:2px;
    top:21px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:342px;
    top:642px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../在线视频_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:60px;
    top:669px;
    width:24px;
    height:31px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:31px;
}

.u29 {
    position:absolute;
    left:2px;
    top:8px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../在线视频_files/u28_normal.png');
}

.u30_container {
    position:absolute;
    left:115px;
    top:669px;
    width:24px;
    height:31px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:31px;
}

.u31 {
    position:absolute;
    left:2px;
    top:8px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../在线视频_files/u28_normal.png');
}

.u32_container {
    position:absolute;
    left:181px;
    top:669px;
    width:24px;
    height:31px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:31px;
}

.u33 {
    position:absolute;
    left:2px;
    top:8px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:36px;
    top:746px;
    width:41px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34_text_sketch {
    font-family: 'Applied Font';
}

.u35 {
    position:absolute;
    left:225px;
    top:191px;
    width:190px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:626px;
    top:617px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:226px;
    top:213px;
    width:242px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:766px;
    top:220px;
    width:73px;
    height:26px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38_text_sketch {
    font-family: 'Applied Font';
}

.u39 {
    position:absolute;
    left:494px;
    top:213px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:70px;
    top:120px;
    width:248px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u41 {
    position:absolute;
    left:748px;
    top:257px;
    width:212px;
    height:73px;
    overflow:hidden;
}

#pd0u41 {
    position:absolute;
    left:0px;
    top:0px;
    width:212px;
    height:73px;
    
}

.u42 {
    position:absolute;
    left:10px;
    top:22px;
    width:197px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:10px;
    top:3px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u44 {
    position:absolute;
    left:617px;
    top:604px;
    width:103px;
    height:38px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u45 {
    position:absolute;
    left:426px;
    top:588px;
    width:201px;
    height:86px;
    overflow:hidden;
}

#pd0u45 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:86px;
    
}

.u46_normal {
    background-image: url('../在线视频_files/u16_normal.png');
}

.u46_container {
    position:absolute;
    left:10px;
    top:14px;
    width:52px;
    height:58px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:58px;
}

.u47 {
    position:absolute;
    left:2px;
    top:21px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:72px;
    top:56px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u49 {
    position:absolute;
    left:0px;
    top:10px;
    width:62px;
    height:65px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u50 {
    position:absolute;
    left:280px;
    top:600px;
    width:52px;
    height:58px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u51 {
    position:absolute;
    left:247px;
    top:252px;
    width:458px;
    height:325px;
    overflow:hidden;
}

#pd0u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:458px;
    height:325px;
    
}

.u52_container {
    position:absolute;
    left:0px;
    top:-24px;
    width:448px;
    height:342px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:448px;
    height:342px;
}

.u53 {
    position:absolute;
    left:2px;
    top:163px;
    width:444px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:225px;
    top:234px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:273px;
    top:233px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u56 {
    position:absolute;
    left:478px;
    top:199px;
    width:313px;
    height:87px;
    overflow:hidden;
}

#pd0u56 {
    position:absolute;
    left:0px;
    top:0px;
    width:313px;
    height:87px;
    
}

.u57_normal {
    background-image: url('../在线视频_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:10px;
    top:4px;
    width:279px;
    height:80px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:285px;
    height:86px;
}

.u58 {
    position:absolute;
    left:2px;
    top:32px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:119px;
    top:53px;
    width:66px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59_text_sketch {
    font-family: 'Applied Font';
}

.u60 {
    position:absolute;
    left:201px;
    top:53px;
    width:66px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60_text_sketch {
    font-family: 'Applied Font';
}

.u61 {
    position:absolute;
    left:89px;
    top:27px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u62 {
    position:absolute;
    left:260px;
    top:233px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u63_normal {
    background-image: url('../在线视频_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:55px;
    top:293px;
    width:127px;
    height:99px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:127px;
    height:99px;
}

.u64 {
    position:absolute;
    left:2px;
    top:42px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u65 {
    position:absolute;
    left:42px;
    top:273px;
    width:155px;
    height:146px;
    overflow:hidden;
}

#pd0u65 {
    position:absolute;
    left:0px;
    top:0px;
    width:155px;
    height:146px;
    
}

.u66_normal {
    background-image: url('../在线视频_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:-217px;
    top:-100px;
    width:520px;
    height:353px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:526px;
    height:359px;
}

.u67 {
    position:absolute;
    left:2px;
    top:168px;
    width:516px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../在线视频_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:16px;
    top:20px;
    width:122px;
    height:98px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:122px;
    height:98px;
}

.u69 {
    position:absolute;
    left:2px;
    top:41px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:100px;
    top:746px;
    width:41px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70_text_sketch {
    font-family: 'Applied Font';
}

.u71 {
    position:absolute;
    left:162px;
    top:746px;
    width:41px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71_text_sketch {
    font-family: 'Applied Font';
}

.u72_normal {
    background-image: url('../在线视频_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:49px;
    top:498px;
    width:40px;
    height:31px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:31px;
}

.u73 {
    position:absolute;
    left:2px;
    top:8px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../在线视频_files/u72_normal.png');
}

.u74_container {
    position:absolute;
    left:99px;
    top:498px;
    width:40px;
    height:31px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:31px;
}

.u75 {
    position:absolute;
    left:2px;
    top:8px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../在线视频_files/u72_normal.png');
}

.u76_container {
    position:absolute;
    left:154px;
    top:498px;
    width:40px;
    height:31px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:31px;
}

.u77 {
    position:absolute;
    left:2px;
    top:8px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../在线视频_files/u72_normal.png');
}

.u78_container {
    position:absolute;
    left:49px;
    top:539px;
    width:40px;
    height:31px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:31px;
}

.u79 {
    position:absolute;
    left:2px;
    top:8px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../在线视频_files/u72_normal.png');
}

.u80_container {
    position:absolute;
    left:99px;
    top:539px;
    width:40px;
    height:31px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:31px;
}

.u81 {
    position:absolute;
    left:2px;
    top:8px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../在线视频_files/u72_normal.png');
}

.u82_container {
    position:absolute;
    left:154px;
    top:539px;
    width:40px;
    height:31px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:31px;
}

.u83 {
    position:absolute;
    left:2px;
    top:8px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../在线视频_files/u72_normal.png');
}

.u84_container {
    position:absolute;
    left:49px;
    top:580px;
    width:40px;
    height:31px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:31px;
}

.u85 {
    position:absolute;
    left:2px;
    top:8px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../在线视频_files/u72_normal.png');
}

.u86_container {
    position:absolute;
    left:99px;
    top:580px;
    width:40px;
    height:31px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:31px;
}

.u87 {
    position:absolute;
    left:2px;
    top:8px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../在线视频_files/u72_normal.png');
}

.u88_container {
    position:absolute;
    left:154px;
    top:580px;
    width:40px;
    height:31px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:31px;
}

.u89 {
    position:absolute;
    left:2px;
    top:8px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u90 {
    position:absolute;
    left:37px;
    top:485px;
    width:167px;
    height:139px;
    overflow:hidden;
}

#pd0u90 {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:139px;
    
}

.u91_normal {
    background-image: url('../在线视频_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:-22px;
    top:-7px;
    width:185px;
    height:143px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:143px;
}

.u92 {
    position:absolute;
    left:2px;
    top:64px;
    width:181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:121px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u94 {
    position:absolute;
    left:107px;
    top:0px;
    width:56px;
    height:21px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u95_normal {
    background-image: url('../在线视频_files/u16_normal.png');
}

.u95_container {
    position:absolute;
    left:298px;
    top:685px;
    width:52px;
    height:58px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:58px;
}

.u96 {
    position:absolute;
    left:2px;
    top:21px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../在线视频_files/u16_normal.png');
}

.u97_container {
    position:absolute;
    left:369px;
    top:685px;
    width:52px;
    height:58px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:58px;
}

.u98 {
    position:absolute;
    left:2px;
    top:21px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../在线视频_files/u16_normal.png');
}

.u99_container {
    position:absolute;
    left:439px;
    top:685px;
    width:52px;
    height:58px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:58px;
}

.u100 {
    position:absolute;
    left:2px;
    top:21px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../在线视频_files/u16_normal.png');
}

.u101_container {
    position:absolute;
    left:507px;
    top:685px;
    width:52px;
    height:58px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:58px;
}

.u102 {
    position:absolute;
    left:2px;
    top:21px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../在线视频_files/u16_normal.png');
}

.u103_container {
    position:absolute;
    left:575px;
    top:685px;
    width:52px;
    height:58px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:58px;
}

.u104 {
    position:absolute;
    left:2px;
    top:21px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../在线视频_files/u16_normal.png');
}

.u105_container {
    position:absolute;
    left:643px;
    top:685px;
    width:52px;
    height:58px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:58px;
}

.u106 {
    position:absolute;
    left:2px;
    top:21px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../在线视频_files/u16_normal.png');
}

.u107_container {
    position:absolute;
    left:717px;
    top:685px;
    width:52px;
    height:58px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:58px;
}

.u108 {
    position:absolute;
    left:2px;
    top:21px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../在线视频_files/u16_normal.png');
}

.u109_container {
    position:absolute;
    left:789px;
    top:685px;
    width:52px;
    height:58px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:58px;
}

.u110 {
    position:absolute;
    left:2px;
    top:21px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../在线视频_files/u16_normal.png');
}

.u111_container {
    position:absolute;
    left:862px;
    top:685px;
    width:52px;
    height:58px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:58px;
}

.u112 {
    position:absolute;
    left:2px;
    top:21px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u113 {
    position:absolute;
    left:221px;
    top:683px;
    width:508px;
    height:363px;
    overflow:hidden;
}

#pd0u113 {
    position:absolute;
    left:0px;
    top:0px;
    width:508px;
    height:363px;
    
}

.u114_normal {
    background-image: url('../在线视频_files/u114_normal.png');
}

.u114_container {
    position:absolute;
    left:13px;
    top:0px;
    width:471px;
    height:347px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:471px;
    height:347px;
}

.u115 {
    position:absolute;
    left:2px;
    top:166px;
    width:467px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u116 {
    position:absolute;
    left:447px;
    top:0px;
    width:43px;
    height:26px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u117 {
    position:absolute;
    left:407px;
    top:290px;
    width:65px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u118 {
    position:absolute;
    left:408px;
    top:317px;
    width:65px;
    height:21px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u119 {
    position:absolute;
    left:102px;
    top:55px;
    width:370px;
    height:231px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u120 {
    position:absolute;
    left:181px;
    top:295px;
    width:180px;
    height:20px;
    overflow:hidden;
}

#pd0u120 {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:20px;
    
}

.u121 {
    position:absolute;
    left:7px;
    top:1px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u122 {
    position:absolute;
    left:19px;
    top:22px;
    width:961px;
    height:140px;
    overflow:hidden;
}

#pd0u122 {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:140px;
    
}

.u123 {
    position:absolute;
    left:50px;
    top:17px;
    width:185px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_line {
    background-image: url('../在线视频_files/u124_line.png');
}

.u124_line {
    position:absolute;
    left:0px;
    top:4px;
    width:550px;
    height:3px;
}

.u124 {
    position:absolute;
    left:50px;
    top:41px;
    width:550px;
    height:10px;
    
}

.u125 {
    position:absolute;
    left:849px;
    top:7px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:741px;
    top:7px;
    width:60px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u126_text_sketch {
    font-family: 'Applied Font';
}

.u127_normal {
    background-image: url('../在线视频_files/u127_normal.png');
}

.u127_container {
    position:absolute;
    left:574px;
    top:7px;
    width:167px;
    height:29px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:35px;
}

.u128 {
    position:absolute;
    left:2px;
    top:6px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u129 {
    position:absolute;
    left:822px;
    top:17px;
    width:105px;
    height:96px;
    overflow:hidden;
}

#pd0u129 {
    position:absolute;
    left:0px;
    top:0px;
    width:105px;
    height:96px;
    
}

.u130_normal {
    background-image: url('../在线视频_files/u130_normal.png');
}

.u130_container {
    position:absolute;
    left:-55px;
    top:-11px;
    width:201px;
    height:131px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:137px;
}

.u131 {
    position:absolute;
    left:2px;
    top:58px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:36px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:36px;
    top:57px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:35px;
    top:13px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u135 {
    position:absolute;
    left:19px;
    top:5px;
    width:84px;
    height:31px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u136 {
    position:absolute;
    left:823px;
    top:0px;
    width:92px;
    height:30px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u137_normal {
    background-image: url('../在线视频_files/u137_normal.png');
}

.u137_container {
    position:absolute;
    left:239px;
    top:19px;
    width:20px;
    height:16px;
}

#u137_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u138 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:287px;
    top:19px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u140 {
    position:absolute;
    left:274px;
    top:9px;
    width:100px;
    height:32px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u141 {
    position:absolute;
    left:379px;
    top:30px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

