body { padding-top: 45px; }
.div-bordered{
padding-left:20px;
border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.row.field_email, .row.buttons,.row.field_name,.row.field_school_unique_id{
	padding-left:20px;
}