body { padding-top: 45px; }
.div-bordered{
padding-left:20px;
border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.row.field_email, .row.buttons,.row.field_name,.row.field_school_unique_id{
	padding-left:20px;
}

.thumbnail.linkthumbnail:hover{
	background-color:#ececec;
	text-decoration: none;
}

.thumbnail.linkthumbnail:hover a:hover{
	text-decoration: none;
}

.darkhr{
	border-color: #e0e0e0;
	margin-top:10px;
	margin-bottom: 25px;
}